<p id="notice"></p>
<%= render 'books/error', book: @book %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <%= form_with model:@book do |f| %>
        <input type="hidden" name="authenticity_token" value="OmIjQaUVi9ulBCjBBMwK22rY7n-Mpdc96960wiuCTy0pzNWhOMvUxOOZ_JuI6id_bpzohDtYM1URWDAov-emXQ" autocomplete="off">
        <div class="form-group">
          <%= f.label :title %></br>
          <%= f.text_field :title, class: "col-xs-12" %>
        </div>
        <div class="form-group">
          <%= f.label :opinion %></br>
          <%= f.text_area :body, class: "col-xs-12" %>
        </div>
        <div class="form-group">
          <input type="submit" name="commit" value="Update Book" class="btn btn-success" data-disable-with="Update Book">
        </div>
      <% end %>
      <%= link_to "Show", book_path(@book) %>
      |
      <%= link_to "Back", books_path %>
    </div>
  </div>
</div>

