<p id="notice"></p>
<%= render 'books/error', book: @book %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/user', user: @book.user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/book', book: @newbook %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user) do %>
                <%= image_tag @book.user.get_profile_image(100,100) %></br>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= @book.title %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <% if @book.user_id == current_user.id %>
              <td>
                <%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-sm btn-danger" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
