<div class="">
  <h2>Book detail</h2>
  <%= form_with model: @book, url: '/books', method: :post do |f| %>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= image_tag user_image.user.get_profile_image(100,100) %>
          <%= link_to "@book.user.name", user_path(@user) %>
        </td>
        <td>
          <%= f.text_field :book_title %>
        </td>
        <td>
          <%= f.text_field :book_body %>
        </td>
        <% if @book.user == current_user %>
        <td>
          <%= link_to "Edit", edit_book_path(@book.id) %>
        </td>
        <td>
          <%= link_to "Destroy", book, method: :delete, data: {confirm: '本当に消しますか？' } %>
        </td>
        <% end %>
      </tr>
    </tbody>
  <% end %>
  </table>
</div>

