<div class="container">
  <div class="row">
    <%= render 'books/error', book: @book %>
    <div class="col-xs-3">
      <table class="table table-user">
        <h2>User info</h2>
        <thead>
          <tr>
            <%= image_tag @book.user.get_profile_image(100,100) %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>name</th>
              <th><%= @book.user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= @book.user.introduction %></th>
            </tr>
            <tr>
              <th>
                <% if @book.user.id == current_user.id %>
                  <%= link_to edit_user_path(current_user), class:"btn btn-default btn-block" do %>
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                  <% end %>
                <% end %>
              </th>
            </tr>
         </tbody>
      </table>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/book', book: @newbook %>
    </div>
    <div class="col-xs-9">
      <h1>Book detail</h1>
      <table class="table table-user-show">
        <tr>
          <td>
            <%= image_tag @book.user.get_profile_image(100,100) %>
            <%= link_to @book.user.name, user_path(@book.user) %>
          </td>
          <td>
            <%= @book.title %>
          </td>
          <td>
            <%= @book.body %>
          </td>
          <% if @book.user_id == current_user.id %>
            <td>
              <%= link_to "Edit", edit_book_path(@book), class:"btn btn-success" %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>
